In [19]:
import pandas as pd
from pipedrive import Pipedrive
import json
try:
    from urllib import urlencode
except ImportError:
    from urllib.parse import urlencode


pipedrive = Pipedrive('06395da8df833c411f231a703d5df4ca28809d87')

In [67]:
# pull all deals in abacus 
more_deals = True
deal_lists = []
new_start = 0

while more_deals:
    print(new_start)
    pipedrive_deals = pipedrive.deals({'status':'all_not_deleted', 'limit': 500, 'start': new_start}, method='GET')
    new_deals = pipedrive_deals['data']
    deal_dataframe = pd.DataFrame(new_deals)
    deal_lists.append(deal_dataframe)
    print(len(deal_lists))
    more_deals = pipedrive_deals['additional_data']['pagination']['more_items_in_collection']
    new_start += 500

df = pd.concat(deal_lists)

0
1
500
2
1000
3
1500
4

In [69]:
# deal break down
df.status.value_counts()

open    1133
lost     359
won       46
Name: status, dtype: int64

In [70]:
# exclude all agency partner deals
df = df[~(df.status == 'lost')]
len(df)

1179

In [74]:
# break down of deal value
df.value.value_counts()

0         959
15000      93
3000       25
10000      22
20000      13
50000      12
80000       7
35000       7
30000       6
25000       5
100000      5
4800        3
40000       3
7500        2
60000       2
45000       2
85000       2
140000      1
5000        1
26000       1
105000      1
21000       1
44000       1
4500        1
31000       1
5300        1
56000       1
55000       1
Name: value, dtype: int64

In [76]:
# deals with value
df = df[~(df.value == 0)]
len(df)

220

In [78]:
# deal statistics
df.value.describe()

count       220.000000
mean      23555.454545
std       23401.975042
min        3000.000000
25%       13750.000000
50%       15000.000000
75%       25000.000000
max      140000.000000
Name: value, dtype: float64

In [79]:
# how many deals are in each stage
df.stage_id.value_counts()

2     44
5     35
19    30
6     25
24    20
4     15
23    13
1     11
25     7
22     7
3      7
26     6
Name: stage_id, dtype: int64

In [80]:
stages = pd.DataFrame(pipedrive.stages({'limit': 500}, method='GET')['data'])
stages

,active_flag,add_time,deal_probability,id,name,order_nr,pipeline_id,pipeline_name,rotten_days,rotten_flag,update_time
0,True,2017-03-28 17:00:38,0,1,New Deal,1,1,Deal Pipeline,None,False,2018-08-20 11:47:36
1,True,2017-03-28 17:00:38,10,2,Sales Qualified,2,1,Deal Pipeline,None,False,2018-08-20 11:48:15
2,True,2017-03-28 18:02:33,20,19,Meeting,3,1,Deal Pipeline,None,False,2018-08-20 11:48:23
3,True,2017-03-28 17:00:38,40,3,Audit Arranged,4,1,Deal Pipeline,None,False,2018-05-11 16:48:24
4,True,2017-03-28 17:00:38,50,4,Evaluating,5,1,Deal Pipeline,None,False,2018-10-05 15:39:45
5,True,2017-03-28 17:00:38,60,5,Proposal Sent,6,1,Deal Pipeline,None,False,2018-10-05 15:39:57
6,True,2017-03-28 17:00:38,70,6,Negotiations Started,8,1,Deal Pipeline,None,False,2018-10-05 15:39:05
7,True,2018-03-07 13:11:55,0,22,Contacted,1,4,Agency Partners,None,False,2018-05-11 16:52:10
8,True,2018-03-07 13:12:13,30,23,Meeting set,2,4,Agency Partners,None,False,2018-05-11 16:52:10
9,True,2018-03-07 13:13:10,50,24,Qualified,3,4,Agency Partners,None,False,2018-05-11 16:52:10
10,True,2018-03-07 13:13:36,50,25,Referral Agreement Signed,4,4,Agency Partners,None,False,2018-05-11 16:52:10
11,True,2018-03-07 13:14:11,10,26,Stay in touch,5,4,Agency Partners,None,False,2018-05-11 16:52:20

In [84]:
# create proability of closing column
def expected_value(stage_id):
    return stages[stages.id == stage_id].iloc[0].deal_probability / 100

df['deal_probability'] = df.stage_id.apply(expected_value)

In [85]:
# calc expected value for each deal ( probability of closing * deal value)
df['expected_value'] = df.value * df.deal_probability

In [86]:
# total pipeline for Abacus
df.expected_value.sum()

2047790.0

In [94]:
# remove all deals with no expected value
df = df[~(df.expected_value == 0)]

In [95]:
# total revenue received
df[df.status == 'won'].expected_value.sum()

583330.0

In [97]:
# revenue breakdown
df[(df.status == 'won')].expected_value.describe()

count       41.000000
mean     14227.560976
std      20178.288924
min        300.000000
25%       1800.000000
50%       3000.000000
75%      17500.000000
max      84000.000000
Name: expected_value, dtype: float64

In [88]:
# expected revenue from open deals
df[df.status == 'open'].expected_value.sum()

1464460.0

In [98]:
# expect revenue break down
df[(df.status == 'open')].expected_value.describe()

count      161.000000
mean      9096.024845
std      11140.179043
min        300.000000
25%       1500.000000
50%       6000.000000
75%      10000.000000
max      60000.000000
Name: expected_value, dtype: float64

In [111]:
def extract_domain(person_id):
    try:
        email = person_id['email'][0]['value']
        if "@" in email:
            return email.split("@")[1]
    except:
        print(person_id)

df['domain'] = df.person_id.apply(extract_domain)


def extract_email(person_id):
    try:
        return person_id['email'][0]['value']
    except:
        print(person_id)

df['email'] = df.person_id.apply(extract_email)

In [116]:
# only include deals that have a domain
df = df[df.email.notnull()]
len(df)

190

In [177]:
# PR emails GG has generated
pr_df = pd.read_csv("interested.csv")
pr_emails = pr_df.Email.tolist()
len(pr_emails)

101

In [178]:
# pipeline deals we've sent them from prs
pipeline_df = df[df.email.isin(pr_emails)]
len(pipeline_df)

12

In [179]:
# total pipeline deals we've generate from prs
pipeline_df.expected_value.sum()

139800.0

In [180]:
# prs closed from GG
renvue_df = pipeline_df[pipeline_df.status == 'won']
len(renvue_df)

1

In [181]:
# total revenue they have closed from GG
renvue_df.value.sum()

50000

In [182]:
# deal name
renvue_df.domain

201    elocal.com
Name: domain, dtype: object

In [183]:
# do the same analysis by name
def extract_domain(Email):
    return Email.split("@")[1]

pr_df['domain'] = pr_df.Email.apply(extract_domain)
pr_domains = pr_df.domain.tolist()

In [184]:
# interested number of deals by domain
domain_pipeline_df = df[df.domain.isin(pr_domains)]
len(domain_pipeline_df)

21

In [164]:
# expected for positive replies by domain
domain_pipeline_df.expected_value.sum()

222600.0

In [185]:
# how many deals have we won by domain
domain_revenue_df = domain_pipeline_df[domain_pipeline_df.status == 'won']
len(domain_revenue_df)

2

In [167]:
domain_revenue_df.value.sum()

65000

In [189]:
# emails of those who indicated interested
# lcherry@fool.com is her actual email that is spelt different in the abacus CRM than it is in Apollo
domain_revenue_df.email

180     LizC@fool.com
201    bob@elocal.com
Name: email, dtype: object

In [ ]:
################ NEUTRAL #########################

In [192]:
# neutral leads GG has generated
n_df = pd.read_csv('neutral.csv')
len(n_df)

152

In [235]:
# pipeline deals we've sent them from neutrals
pipeline_df = df[df.email.isin(n_df.Email.tolist())]
len(pipeline_df)

6

In [236]:
pipeline_df.expected_value.sum()

54500.0

In [237]:
pipeline_df.domain

241            dwhomes.com
401          tophatter.com
402    learnersedgeinc.com
447            bulgari.com
449            suffolk.edu
24        holidaytouch.com
Name: domain, dtype: object

In [238]:
def extract_domain(Email):
    return Email.split("@")[1]

n_df['domain'] = n_df.Email.apply(extract_domain)
n_domains = n_df.domain.tolist()

In [239]:
# neutral number of deals
neutral_df = df[df.domain.isin(n_domains)]
len(neutral_df)

9

In [199]:
# total pipeline for neutral replies
neutral_df.expected_value.sum()

77500.0

In [200]:
# titles of deals who indicate neutral
# make sure to look up tophatter.com in Apollo - it's a referral
neutral_df.domain

241            dwhomes.com
400           datavail.com
401          tophatter.com
402    learnersedgeinc.com
405         hawkemedia.com
447            bulgari.com
449            suffolk.edu
475             kbhome.com
24        holidaytouch.com
Name: domain, dtype: object

In [201]:
# total won deals from neutral
won_neutral = neutral_df[neutral_df.status == 'won']
len(won_neutral)

0

In [ ]:
################ NOT INTERESTED #########################

In [205]:
# total not interested
ni_df = pd.read_csv("not-interested.csv")
len(ni_df)

228

In [230]:
# pipeline deals we've sent them from not interested
pipeline_df = df[df.email.isin(ni_df.Email.tolist())]
len(pipeline_df)

1

In [231]:
pipeline_df.formatted_value

22    $30,000
Name: formatted_value, dtype: object

In [234]:
pipeline_df.email

22    scott.spence@fundsquire.com
Name: email, dtype: object

In [209]:
def extract_domain(Email):
    return Email.split("@")[1]

ni_df['domain'] = ni_df.Email.apply(extract_domain)
ni_domains = ni_df.domain.tolist()

In [210]:
# neutral number of deals
len(df[df.domain.isin(ni_domains)])

3

In [211]:
# total pipeline for not interested replies
df[df.domain.isin(ni_domains)].expected_value.sum()

25000.0

In [213]:
#  domains of deals who indicate not interested
df[df.domain.isin(ni_domains)].domain

475        kbhome.com
22     fundsquire.com
35           uncg.edu
Name: domain, dtype: object

In [219]:
df[df.domain == 'fundsquire.com'].formatted_value

22    $30,000
Name: formatted_value, dtype: object

In [ ]:
################ LINKEDIN #########################

In [242]:
# total linkedin
li_df = pd.read_csv('linkedin.csv')
len(li_df)

1129

In [243]:
# pipeline deals we've sent them from neutrals
pipeline_df = df[df.email.isin(li_df.Email.tolist())]
len(pipeline_df)

1

In [244]:
pipeline_df.formatted_value

17    $100,000
Name: formatted_value, dtype: object

In [245]:
pipeline_df.email

17    harrisonl@ecobee.com
Name: email, dtype: object

In [246]:
df[df.email == 'harrisonl@ecobee.com']

,6653d62dbf9c0465a63c12044dac607759872963,6653d62dbf9c0465a63c12044dac607759872963_currency,active,activities_count,add_time,cc_email,close_time,creator_user_id,currency,deleted,...,user_id,value,visible_to,weighted_value,weighted_value_currency,won_time,deal_probability,expected_value,domain,email
17,8000.0,USD,True,0,2018-09-26 17:18:30,abacusagency+deal2683@pipedrivemail.com,None,"{'id': 2963791, 'name': 'Lance Muranaga', 'ema...",USD,False,...,"{'id': 2963791, 'name': 'Lance Muranaga', 'ema...",100000,3,20000,USD,None,0.2,20000.0,ecobee.com,harrisonl@ecobee.com

In [ ]:
def extract_domain(Email):
    try:
        return Email.split("@")[1]
    except:
        return ''

event_df['domain'] = event_df.Email.apply(extract_domain)
event_domains = event_df.domain.tolist()

In [224]:
# neutral number of event deals
len(df[df.domain.isin(event_domains)])

2

In [225]:
# total pipeline for not interested replies
df[df.domain.isin(event_domains)].expected_value.sum()

27500.0

In [ ]:
# titles of deals who indicate not interested
df[df.domain.isin(event_domains)].domain

In [ ]:
# need to login as peter to finish this attribution analysis for events

In [ ]:
################ TOTAL ROI #########################

In [221]:
# total GG deals
len(df[df.domain.isin(n_domains)]) + len(df[df.domain.isin(ni_domains)]) + len(df[df.domain.isin(pr_domains)])

33

In [222]:
gg_total = df[df.domain.isin(ni_domains)].expected_value.sum() + df[df.domain.isin(n_domains)].expected_value.sum() + df[df.domain.isin(pr_domains)].expected_value.sum()

In [223]:
gg_total / df.expected_value.sum() * 100

16.37131821592414